/* * {
    font-family: 'Josefin Sans', sans-serif;
} */

.landing-nav {
    font-family: 'Josefin Sans', sans-serif;
    color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#686e43;
    z-index: 4;
}

.recipe-nav {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.recipe-ul li {
    color: #686e43;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    padding: 20px;
    font-size: 25px;
}

.landing-nav .logo {
    font-size: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-shadow: 4px 4px 8px #323232;
}

.recipe-nav .logo {
    font-size: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #686e43;
    text-shadow: 5px 5px 10px gray;
}

.results-container {
    font-family: 'Crimson Text', serif;
    position: absolute;
    top: 700px;
    margin: 50px;
    justify-content: center;
    padding: 30px;
    margin-top: -300px;
    z-index: 3;
}

.recipe-card {
    background-color: bisque;
    border: dashed 6px #873b21;
    padding: 15px;
    margin: 30px;
}

.results-container h3 {
    font-size: 35px;
    font-weight: bolder;
    margin-top: 20;
    text-decoration: underline;
}

.results-container h4 {
    font-size: 20px;
}

.results-container ul {
    display: flex;
    flex-direction: column;
}

.results-container li {
    font-size: 17px;
    line-height: 0px;
    list-style: square;
}

.landing-body {
    background-color: #686e43;
}

.recipe-body {
  background-color: bisque;
}
  
  .main-search-input {
    font-family: 'Josefin Sans', sans-serif;
      background: #fff;
      padding: 0 120px 0 0;
      border-radius: 1px;
      margin-top: 220px;
      box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3);
      z-index: 3;
      width: 80%;
  }
  
  .fl-wrap {
      float: left;
      width: 100%;
      position: relative;
  }
  
  .main-search-input:before {
      content: '';
      position: absolute;
      bottom: -40px;
      width: 50px;
      height: 1px;
      background: rgba(255,255,255,0.41);
      left: 50%;
      margin-left: -25px;
  }
  
  .main-search-input-item {
    font-family: 'Crimson Text', serif;
      float: left;
      width: 100%;
      box-sizing: border-box;
      border-right: 1px solid #eee;
      height: 50px;
      position: relative;
  }
  
  .main-search-input-item input:first-child {
      border-radius: 100%;
  }
  
  .main-search-input-item input {
      float: left;
      border: none;
      width: 100%;
      height: 50px;
      padding-left: 20px;
  }
  
  .main-search-button{
  
        background: #873b21;
  }
  
  .main-search-button {
      position: absolute;
      right: 0px;
      height: 50px;
      width: 120px;
      color: #fff;
      top: 0;
      border: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      cursor: pointer;
  }
  
  .main-search-input-wrap {
      max-width: 700px;
      margin: 20px auto;
      position: relative;
  }

  .chickysammy {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 90vh;
      z-index: 2;
  }

  .chilaquiles {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70%;
    z-index: 1;
}

.hide{

}

.show{}
  
  :focus {
      outline: 0;
  }
  
  
  @media only screen and (max-width: 768px){
  .main-search-input {
      background: rgba(255,255,255,0.2);
      padding: 14px 20px 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
  }
  
  .main-search-input-item {
      width: 100%;
      border: 1px solid #eee;
      height: 50px;
      border: none;
      margin-bottom: 10px;
  }
  
  .main-search-input-item input {
      border-radius: 6px !important;
      background: #fff;
  }
  
  .main-search-button {
      position: relative;
      float: left;
      width: 100%;
      border-radius: 6px;
  }
  }
  
  .landing-ul li:hover{
    color: rgb(197, 177, 152);
  }

  .recipe-ul li:hover{
    color: #99a161;
  }

  .recipe-ul a:hover{
    text-decoration: none;
  }

  a {
    color: white;
  }
  