html {
    scroll-behavior: smooth;   
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    display: grid;
    gap: 1px;
}

li {
    padding: 20px;
    font-size: 25px;
}

.landing-nav {
    font-family: 'Josefin Sans', sans-serif;
    color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#686e43;
    z-index: 5;
}

.landing-nav .logo {
    font-size: 60px;
    text-shadow: 4px 4px 8px #323232;
}

.landing-body {
    background-color: #686e43;
}

.chickysammy {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90vh;
    z-index: 2;
}

.main-search-input {
    font-family: 'Josefin Sans', sans-serif;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3);
    width: 80%;
    position: sticky;
    z-index: 3;
    margin: auto;
    margin-top: 200px;
}
  
.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}
  
.main-search-input:before {
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255,255,255,0.41);
    left: 50%;
    margin-left: -25px;
}
  
.main-search-input-item {
    font-family: 'Crimson Text', serif;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative;
}
  
.main-search-input-item input:first-child {
    border-radius: 100%;
}
  
.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
}
  
.main-search-button{  
    background: #873b21;
}
  
.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}
  
.main-search-input-wrap {
    max-width: 700px;
    margin: 20px auto;
    position: relative;
    margin: 0 auto;
    width: 700px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}

.results-container {
    font-family: 'Crimson Text', serif;
    justify-content: center;
    padding: 15px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 80%;
}

.recents-cont {
    font-family: 'Crimson Text', serif;
    padding: 10px;
    background-color: bisque;
    color: black;
    border: dashed 6px #873b21;
    border-radius: 10px;
    max-width: 80%;
    margin: 50px auto;
    z-index: 3;
    text-align: center;
}

.recipe-card {
    background-color: bisque;
    border: dashed 6px #873b21;
    padding: 15px;
    margin: 30px;
    flex: 1 1 400px;
    border-radius: 10px;
}

.results-container h3 {
    font-size: 35px;
    font-weight: bolder;
    margin: 20px auto;
    text-decoration: underline;
    pointer-events: none;
    text-align: center;
}

.results-container h4 {
    font-size: 20px;
    pointer-events: none;
}

.results-container ul {
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.results-container li {
    font-size: 17px;
    line-height: 1;
    list-style: square;
    pointer-events: none;
}

.ing-header {
    text-decoration: underline;
}

.hide {
    display: none;
}

.show {
    display: block;
}
  
  :focus {
      outline: 0;
  }
  
  .recipe-description {
    display: none;
  }


.recipe-card:hover {
    background-color: bisque;
} 

#link {
    color: bisque;
    font-size: 25px;
    text-decoration: none;
}

#recipe-description {
    display:none;
}

#modal {
    font-family: 'Crimson Text', serif;
    background-color: bisque;
    border: dashed 6px #873b21;
    padding: 15px;
    width: 80%;
    position: fixed;
    top: 50px;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.618);
    border-radius: 10px;
    max-height: 100vh;
    overflow-y: auto;
} 

#modal h4 {
    font-size: 15px;
}

#nutrition-title h3 {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
}

#nutrition-ul {
    display: flex;
    flex-direction: inline-block;
    flex-wrap: wrap;
    text-decoration: none;
}

#nutrition-ul li {
    font-size: 15px;
    line-height: 0;
}

#recipe-modal {
    margin: 30px;
}

#recipe-modal h3 {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
}

#ingredients-ul {
    display: flex;
    flex-direction: column;
}

#ingredients-ul li{
    font-size: 15px;
    list-style: square;
    line-height: 1;
}

#link:hover{
    text-shadow: 4px 4px 8px #323232;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .main-search-input {
        background: rgba(255,255,255,0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
    }
    
    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px;
    }
    
    .main-search-input-item input {
        border-radius: 6px !important;
        background: #fff;
    }
    
    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px;
    }
    }